@import "base/reset.less";
@import "main/colors.less";
@import "base/nslesslib.less";
@import "base/nscsslib.less";
@import "base/lightbox.less";
@import "base/select2.less";
@import "main/fonts.less";
@import "main/icons.less";
@import "main/backgrounds.less";
@import "main/forms.less";
@import "base/swipe.less";

@import "main/basics.less";

.container {
    width: 1190px;
    padding-left: 10px;
    padding-right: 10px;
}


@media screen  and (max-width: 1550px) and (min-width: 0px) {
    @import "custom/custom1178.less";

}

@media screen  and (max-width: 1300px) and (min-width: 0px) {
    @import "grid/grid.978.less";
    @import "vars/vars978.less";    
    .container {
        width: 948px;
    }
    @import "custom/custom978.less";

}

@media screen  and (max-width: 1023px) and (min-width: 0px) {
    @import "grid/grid.748.less";
    @import "vars/vars768.less";
    .container {
        width: 748px;
        padding-left: 5px;
        padding-right: 5px;
    }
    @import "custom/custom768.less";
} 

@media screen  and (max-width: 767px) and (min-width: 0px) {
    @import "grid/grid.300.fluid.less";
    @import "vars/vars300.less";
    .container {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    @import "custom/custom300.less";
}