
html {
    font-size: 62.5%;
}

html * {
    .border-box();
    outline: none;   

}

body {
    .font-regular();
    font-size: 1.5rem;
    /*    max-width: 1920px;*/
    margin-left: auto;
    margin-right: auto;
    & > h1 {
        position: absolute;
        left: -10000px;
    }
    &.isie {

    }
}

.screenReaderElement {
    position: absolute;
    left: -10000px;
}

.container, .container-half {
    .border-box();
    .clearfix();
    margin-left: auto;
    margin-right: auto; 
    width: 1600px;

}

a {
    color: #000000;
}

//sekce topBar

.header{
    margin-top: -20px;
    background: linear-gradient(90deg, @whiteblue, @darkblue);
    .popis{
        .text{
            float: right;
            p{
                .font-bold();
                color: @white;
                font-size: 2.2rem;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 20px;
                padding-right: 20px;
            }
        }
    }
}
nav{
    width: 100%;
    .img{
        float: left;
        img{
            height: 100px;
            width: 120px;
            float: left;
        }
    }
    ul{

        li{

            float: left;
            padding: 40px;
            a{
                text-decoration: none;
            }
        }
    }
    .insert, .update{
        float: right;
        padding: 40px;
        text-decoration: none;
    }
}
.showcase{
    background: url('../../data/images/showcase.jpg') 0 -50px;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size:cover; 
    -moz-background-size:cover; 
    -o-background-size:cover;
    -ms-background-size:cover; 	
    background-size:cover; 
    min-height: 800px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));
    -webkit-clip-path: polygon( 0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw) );
    -o-clip-path: polygon( 0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw) );
    -ms-clip-path: polygon( 0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw) );
    -moz-clip-path: polygon( 0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw) );
    .left{
        h2{
            .font-bold();
            padding-top: 200px;
            color: @black;
            font-size: 4.6rem;
            padding-bottom: 25px;
            width: 30%;
        }
        p{

            .font-bold();
            width: 30%;
            line-height: 2em;
            padding-bottom: 20px;
        }
    }
    .right{
        img{

        }
    }
}
.information{
    padding-top: 50px;
    padding-bottom: 50px; 
    background: linear-gradient(180deg, @white 30%,@darkblue);
    .describe{
        width: 40%;
        float: left;
        h2{
            .font-bold();
            font-size: 4.6rem;
            padding-bottom: 50px;
        }
        p{
            .font-light();
            line-height: 2.5rem;
            padding-bottom: 25px;
        }
    }
    .image{
        float: right;
        width: 60%;
        img{

        }
    }
}
.champions{
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(180deg,@darkblue, @darkblue);
    h1{
        font-size: 50px;
        color: @white;
    }
    ul{
        li{
            width: 32%;
            list-style: none;
            float: left;
            padding: 15px;
            .champ{
                width: 300px;
                height: 300px;
                background: @white;
                border-radius: 5px;
                p{
                    font-size: 25px;
                    text-align: center;
                    padding-top: 125px;
                }
            }
            .champ:hover{
                -webkit-box-shadow: 0px 0px 96px 1px rgba(255,255,255,1);
                -moz-box-shadow: 0px 0px 96px 1px rgba(255,255,255,1);
                box-shadow: 0px 0px 96px 1px rgba(255,255,255,1);
            }
        }
    }
}


//sampionat

.race{
    background: linear-gradient(180deg,@darkblue, @darkblue);
    width: 100%;
    li{
        list-style:  none;
        width: 32%;
        float: left;
        text-align: center;

        .champ{
            margin-left: 150px;
            margin-bottom: 50px;
            margin-top: 50px;
            width: 300px;
            height: 400px;
            background: @white;
            border-radius: 5px;
            p{
                padding-top: 15px;
                font-weight: bold;
                font-family: 'Roboto',sans-serif;
                img{
                    -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
                    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
                    width: 30%;
                }
                .btn{
                    padding: 10px;
                    text-decoration: none;
                    background: @whiteblue;
                    color: @white;
                    border-radius: 5px;
                }
            }
            #left{
                width: 100%;
                float: left;
                text-align: center;
            }
            #right{
                margin-top: 20px;
                width: 50%;
                float: left;
                text-align: center;
            }
            
        }
        .champ:hover{
            -webkit-box-shadow: 0px 0px 96px 1px rgba(255,255,255,1);
            -moz-box-shadow: 0px 0px 96px 1px rgba(255,255,255,1);
            box-shadow: 0px 0px 96px 1px rgba(255,255,255,1);
        }
    }

}

//V_Zavody

.result{
    background: linear-gradient(180deg,@darkblue, @darkblue);
    ul{

        li{

            width: 31%;
            float: left;
            list-style:  none;
            margin: 10px;
            .champ{
                margin-top: 20px;
                width: 300px;
                height: 400px;
                background: @white;
                border-radius: 5px;
                text-align: center;
                p{
                    font-weight: bold;
                    font-size: 16px;
                    padding-top: 20px;
                    font-family: 'Roboto',sans-serif;

                }
                .btn{

                    padding: 10px;
                    text-decoration: none;
                    background: @whiteblue;
                    color: @white;
                    border-radius: 5px;
                }

            }
            .champ:hover{
                -webkit-box-shadow: 0px 0px 96px 1px rgba(255,255,255,1);
                -moz-box-shadow: 0px 0px 96px 1px rgba(255,255,255,1);
                box-shadow: 0px 0px 96px 1px rgba(255,255,255,1);
            }
        }
    }
}

//V_Auto

.car{
    background: linear-gradient(180deg,@darkblue, @darkblue);
    height: 100%;



    .champi{

        margin-top: 120px;
        width: 800px;
        height: 400px;
        background: @white;
        border-radius: 5px;
        text-align: center;
        p{
            margin-top: 25px;
        }
        .car-info{
            width: 50%;
            float: left;
        }
        .creator-info{
            width: 50%;
            float: left;
            .world{
                width: 50%;
                float: left;
            }
            .brand{
                width: 50%;
                float: left;
            }
        }
        p{
            font-weight: bold;
            padding-top: 20px;
            font-size: 20px;
            font-family: 'Roboto',sans-serif;

            #vlajka{
                -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
                width: 50%;
                margin-top: 20px;

            }
            #brand{
                width: 50%;
                margin-top: 15px;


            }
        }
        .btn{
            font-size: 15px;
        }
    }
    .champi:hover{
        -webkit-box-shadow: 0px 0px 96px 1px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 96px 1px rgba(255,255,255,1);
        box-shadow: 0px 0px 96px 1px rgba(255,255,255,1);
    }
}
.creator-auto{
    background: linear-gradient(180deg,@darkblue, @darkblue);
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    ul{
        li{
            width: 31%;
            float: left;
            list-style:  none;
            .champ{
                margin-top: 20px;
                width: 300px;
                height: 200px;
                background: @white;
                border-radius: 5px;
                text-align: center;
                p{

                    font-weight: bold;
                    padding-top: 20px;
                    font-size: 20px;
                    font-family: 'Roboto',sans-serif;
                }
            }
            .champ:hover{
                -webkit-box-shadow: 0px 0px 96px 1px rgba(255,255,255,1);
                -moz-box-shadow: 0px 0px 96px 1px rgba(255,255,255,1);
                box-shadow: 0px 0px 96px 1px rgba(255,255,255,1);
            }
        }
    }
}
.adddata{
    background: linear-gradient(180deg,@darkblue, @darkblue);
    height: 100%;
    padding-top: 100px;
    .racers{
        width: 50%;
        float: left;
        margin: 0 auto;
        .champ{
            margin-top: 80px;
            width: 300px;
            height: auto;
            background: @white;
            border-radius: 5px;
            text-align: center;
            padding: 50px;
            img{
                width: 250px;
                height: 200px;
                margin-top: -150px;
                margin-bottom: 20px;
                margin-left: -30px;
            }
            .input{
                width: 100%;
                margin-bottom: 20px;
                padding-left: 30px;
                padding-top: 5px;
                padding-bottom: 5px;
                border-radius: 5px; 
            }
            .form-input:before{
                content:"\f007" ;
                font-family: 'FontAwesome';
                font-size: 23px;
                position: absolute;
                padding-left: 5px;
                padding-right: 5px;
                padding-bottom: 15px;
                margin-top: 2px;
            }
            .form-input:nth-child(3):before{
                content: "\f0ac";
            }
            .btn{
                padding: 15px;
                background: @whiteblue;
                border: transparent;
                border-radius: 5px;
            }
        }
    }
    .zavody{
        width: 50%;
        float: left;
        margin: 0 auto;
        .champ{
            margin-top: 80px;
            width: 400px;
            height: auto;
            background: @white;
            border-radius: 5px;
            text-align: center;
            padding: 50px;
            img{
                width: 300px;
                height: 200px;
                margin-top: -160px;
                margin-bottom: 20px;
                margin-right: -25px;
            }
            .input{
                width: 100%;
                margin-bottom: 20px;
                padding-left: 30px;
                padding-top: 5px;
                padding-bottom: 5px;
                border-radius: 5px; 
            }
            .form-input::before{
                content:"\f007" ;
                font-family: "FontAwesome";
                font-size: 25px;
                position: absolute;
                padding-left: 5px;
                padding-right: 5px;
                padding-bottom: 20px;
                margin-top: 2px;
            }
            .form-input:nth-child(3):before{
                content: "\f0ac";
                margin-top: 2px;
            }
            .form-input:nth-child(2):before{
                content: "\f017";
                margin-top: 2px;
            }
            .form-input:nth-child(4):before{
                content: "\f041";
                margin-top: 2px;
            }
            .form-input:nth-child(5):before{
                content: "\f0da";
                margin-top: 2px;
            }
            .btn{
                padding: 15px;
                background: @whiteblue;
                border: transparent;
                border-radius: 5px;
            }
        }
    }
}
.racerss{
    background: linear-gradient(180deg,@darkblue, @darkblue);
    padding-bottom: 50px;
    ul{
        li{
            list-style: none;
            width: 25%;
            float: left;
            .champ{
                margin-top: 20px;
                width: 350px;
                height: 375px;
                background: @white;
                border-radius: 5px;
                text-align: center;
                p{
                    .font-bold();
                    padding-top: 20px;
                    img{
                        -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
                        -moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
                        box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
                        width: 20%;
                    }

                }
                .left{
                    float: left;
                    width: 50%;
                    .btn{
                        padding: 10px;
                        text-decoration: none;
                        background: @whiteblue;
                        color: @white;
                        border-radius: 5px;
                    }
                }
                .right{
                    float: left;
                    width: 50%;
                    .btn{
                        padding: 10px;
                        text-decoration: none;
                        background: @whiteblue;
                        color: @white;
                        border-radius: 5px;
                    }
                }
                .right2{
                    float: left;
                    width: 50%;
                    .btn{
                        padding: 10px;
                        text-decoration: none;
                        background: @whiteblue;
                        color: @white;
                        border-radius: 5px;
                    }
                }

            }
            .champ:hover{
                -webkit-box-shadow: 0px 0px 96px 1px rgba(255,255,255,1);
                -moz-box-shadow: 0px 0px 96px 1px rgba(255,255,255,1);
                box-shadow: 0px 0px 96px 1px rgba(255,255,255,1);
            }
        }
    }

}
.updated{
    height: 100%;
    background: linear-gradient(180deg,@darkblue, @darkblue);
    .champ{
        margin-top: 100px;
        width: 350px;
        height: 450px;
        background: @white;
        border-radius: 5px;
        text-align: center;
        .input{
            width: 80%;
            margin-top: 20px;
            padding: 6px;
            padding-left: 32px; 
            border-radius: 5px;
        }
        .form-input:before{
            content:"\f007" ;
            font-family: "FontAwesome";
            font-size: 25px;
            position: absolute;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 20px;
            margin-top: 22px;
        }
        .form-input:nth-child(5):before{
            content:"\f062";
        }
        .form-input:nth-child(6):before{
            content:"\f017";
        }
        .form-input:nth-child(7):before{
            content:"\f0c0";
            font-size: 24px;
        }

        .btn{
            padding: 15px;
            background: @whiteblue;
            border: transparent;
            border-radius: 5px;
            margin-top: 20px;
        }
    }

}

.successful{
    background: linear-gradient(180deg,@darkblue, @darkblue);
    height: 100%;

    .btn{
        text-decoration: none;
        text-align: center;
        color: @black;
        background-color: @white;
        padding: 20px;
        margin: 0 auto;
        display: block;
        width: 400px;
        height: 150px;
        margin-top: 250px;
        font-size: 50px;
        border-radius: 10px;
        p{
            margin-top: -5px;
        }
    }
}
.editracers{
    background: linear-gradient(180deg,@darkblue, @darkblue);
    height: 100%;
    .champ{
        margin: 0 auto;
        margin-top: 100px;
        width: 350px;
        height: 450px;
        background: @white;
        border-radius: 5px;
        text-align: center;
        .input{
            width: 80%;
            margin-top: 20px;
            padding: 6px;
            padding-left: 32px; 
            border-radius: 5px;
        }
        .form-input:before{
            content:"\f007" ;
            font-family: "FontAwesome";
            font-size: 25px;
            position: absolute;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 20px;
            margin-top: 22px;
        }
        .btn{
            padding: 15px;
            background: @whiteblue;
            border: transparent;
            border-radius: 5px;
            margin-top: 20px;
        }
    }
}


