
.font-light() {
   font-family: 'Share Tech', sans-serif;
   font-weight: lighter;
}

.font-regular() {
    font-family: 'Share Tech', sans-serif;
    font-weight: normal;
    
}

.font-italic() {
   font-family: 'Share Tech', sans-serif;
   font-style: italic;
}

.font-medium() {
   font-family: 'Share Tech', sans-serif;
}

.font-semibold() {
  font-family: 'Share Tech', sans-serif;
  font-weight: bolder;
}

.font-bold() {
   font-family: 'Share Tech', sans-serif;
   font-weight: bold;
}

.font-black() {
   font-family: 'Share Tech', sans-serif;
   color: @black;
}
